<!doctype html>
<html>
<head>
    <title>Apple</title>
</head>
<style type="text/css">
    body {
        background-color: azure;
    }
    .dd {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        width: 90%;
        margin: 50px auto;
        padding: 50px;
        background-color: aliceblue;
    }
    .tt {
        font-size: 120%;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #333366;
        text-align: center;
        margin: 20px auto;
    }
</style>
<body>
<div class="dd">
    <table class="tt" border="1" cellpadding="10" cellspacing="5">
        <tr>
            <th style="width: 150px">Label+Date</th>
            <th style="width: 150px">Min (error)</th>
            <th style="width: 150px">Avg (error)</th>
            <th style="width: 150px">Max (error)</th>
        </tr>
        {% for d in data: %}
            <tr>
                <td style="width: 150px">{{d.label}}</td>
                <td style="width: 150px">{{d.min}}</td>
                <td style="width: 150px">{{d.avg}}</td>
                <td style="width: 150px">{{d.max}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
